.scrollbar::-webkit-scrollbar {
  height: 20px;
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  scrollbar-width: thin;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb {
  scrollbar-width: thin;
  background-color: var(--scrollbar-background);
  border-radius: 100vh;
  border: 1px solid var(--scrollbar-border);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
  scrollbar-width: thin;
}
