NEXT_PUBLIC_APP_ENV="development"

NEXT_PUBLIC_DOCSEARCH_APP_ID="X7CJ8B3R6D"
NEXT_PUBLIC_DOCSEARCH_API_KEY="f7c24d3f87e0b16a43cf90ef6d7f3f2f"
NEXT_PUBLIC_DOCSEARCH_INDEX_NAME="x7financelocal"

NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID="2f61f2ec9b3b4dd0733369a1acdda1a7"

NEXT_PUBLIC_DEFAULT_ETHER_RPC="https://lb.drpc.org/ogrpc?network=ethereum&dkey=abc-key"
NEXT_PUBLIC_DEFAULT_BSC_RPC="https://lb.drpc.org/ogrpc?network=bsc&dkey=abc-key"
NEXT_PUBLIC_DEFAULT_POLY_RPC="https://lb.drpc.org/ogrpc?network=polygon&dkey=abc-key"
NEXT_PUBLIC_DEFAULT_OPTI_RPC="https://lb.drpc.org/ogrpc?network=optimism&dkey=abc-key"
NEXT_PUBLIC_DEFAULT_ARB_RPC="https://lb.drpc.org/ogrpc?network=arbitrum&dkey=abc-key"
NEXT_PUBLIC_DEFAULT_BASE_RPC="https://lb.drpc.org/ogrpc?network=base&dkey=abc-key"

NEXT_PUBLIC_DEFAULT_ETHER_RPC_FALLBACK="https://eth-mainnet.g.alchemy.com/v2/abc-key"
NEXT_PUBLIC_DEFAULT_BSC_RPC_FALLBACK="https://bsc-dataseed.binance.org/"
NEXT_PUBLIC_DEFAULT_POLY_RPC_FALLBACK="https://polygon-mainnet.g.alchemy.com/v2/abc-key"
NEXT_PUBLIC_DEFAULT_OPTI_RPC_FALLBACK="https://opt-mainnet.g.alchemy.com/v2/abc-key"
NEXT_PUBLIC_DEFAULT_ARB_RPC_FALLBACK="https://arb-mainnet.g.alchemy.com/v2/abc-key"
NEXT_PUBLIC_DEFAULT_BASE_RPC_FALLBACK="https://base-mainnet.g.alchemy.com/v2/abc-key"

NEXT_PUBLIC_DEFAULT_BASE_TESTNET_RPC="https://lb.drpc.org/ogrpc?network=base-sepolia&dkey=abc-key"
NEXT_PUBLIC_DEFAULT_ETHER_TESTNET_RPC="https://lb.drpc.org/ogrpc?network=sepolia&dkey=abc-key"
NEXT_PUBLIC_DEFAULT_OPTI_TESTNET_RPC="https://lb.drpc.org/ogrpc?network=optimism-sepolia&dkey=abc-key"
NEXT_PUBLIC_DEFAULT_ARB_TESTNET_RPC="https://lb.drpc.org/ogrpc?network=arbitrum-sepolia&dkey=abc-key"
NEXT_PUBLIC_DEFAULT_BSC_TESTNET_RPC="https://lb.drpc.org/ogrpc?network=bsc-testnet&dkey=abc-key"
NEXT_PUBLIC_DEFAULT_POLY_TESTNET_RPC="https://lb.drpc.org/ogrpc?network=polygon-amoy&dkey=abc-key"

NEXT_PUBLIC_DEFAULT_BSC_TESTNET_RPC_FALLBACK="https://bnb-testnet.g.alchemy.com/v2/abc-key"
NEXT_PUBLIC_DEFAULT_ARBITRUM_TESTNET_RPC_FALLBACK="https://arb-sepolia.g.alchemy.com/v2/abc-key"
NEXT_PUBLIC_DEFAULT_OPTIMISM_TESTNET_RPC_FALLBACK="https://opt-sepolia.g.alchemy.com/v2/abc-key"
NEXT_PUBLIC_DEFAULT_POLYGON_TESTNET_RPC_FALLBACK="https://polygon-amoy.g.alchemy.com/v2/abc-key"
NEXT_PUBLIC_DEFAULT_BASE_TESTNET_RPC_FALLBACK="https://base-sepolia.g.alchemy.com/v2/abc-key"
NEXT_PUBLIC_DEFAULT_ETHER_TESTNET_RPC_FALLBACK="https://eth-sepolia.g.alchemy.com/v2/abc-key"

NEXT_PUBLIC_ALCHEMY_ID="abc-key"

NEXT_PUBLIC_ASSETS_URL="http://localhost:3009"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

